<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.damien.campusordering.mapper.UserMapper">

    <insert id="insert" parameterType="com.damien.campusordering.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (openid, name, phone, sex, id_number, avatar, create_time)
        VALUES (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{createTime})
    </insert>

    <select id="getUserStatisticsByDateRange" resultType="java.util.HashMap">
        select DATE(create_time)                                                                                 as date,
               count(*)                                                                                          as newUserCount,
               (select count(*)
                from user
                where create_time &lt;= DATE_ADD(DATE(u.create_time), INTERVAL 1 DAY))                           as totalUserCount
        from user u
        where create_time &gt;= #{begin}
          and create_time &lt;= #{end}
        group by DATE(create_time)
        order by DATE(create_time)
    </select>

</mapper>