<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.damien.campusordering.mapper.UserMapper">

    <insert id="insert" parameterType="com.damien.campusordering.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (openid, name, phone, sex, id_number, avatar, create_time)
        VALUES (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{createTime})
    </insert>

    <select id="getUserStatisticsByDateRange" resultType="java.util.HashMap">
        select daily.date                                                       as date,
               daily.newUserCount                                               as newUserCount,
               (select count(*)
                from user u2
                where u2.create_time &lt; DATE_ADD(daily.date, INTERVAL 1 DAY)) as totalUserCount
        from (select DATE(u.create_time) as date,
                     count(*)            as newUserCount
              from user u
              where u.create_time &gt;= #{begin}
                and u.create_time &lt;= #{end}
              group by DATE(u.create_time)) daily
        order by daily.date
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from user
        <where>
            <if test="begin != null">
                and create_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and create_time &lt;= #{end}
            </if>
        </where>
    </select>

</mapper>